/* frontend/src/components/Layout/Layout.module.scss */

.layoutWrapper {
  min-height: 100vh;
  padding-left: var(--sideBarW); 
}

.mainContent {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
}

/* --- АДАПТИВ --- */

/* 1. Ноутбук/Планшет -> Узкий сайдбар */
@media (max-width: 1263px) {
  .layoutWrapper {
    padding-left: var(--sideBarSmallW); /* 72px из переменных */
  }
}

/* 2. Мобильные -> Сайдбара нет (он снизу) */
@media (max-width: 767px) {
  .layoutWrapper {
    padding-left: 0;
  }
}