/* src/components/Footer/Footer.module.scss */

.footerWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  /* Используем переменную из index.css */
  background-color: var(--main); 
  height: var(--footerH); 
  
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}

.linksRow {
  padding-top: 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin-bottom: 48px;

  a, .textLink {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    
    /* Цвет текста */
    color: var(--darkGrey); 
    
    transition: 0.2s ease;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      color: var(--darkGreyHover); 
    }
  }
}

.copyright {
  span {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: var(--darkGrey);
  }
}

/* ================= АДАПТИВНОСТЬ ================= */

@media screen and (max-width: 1200px) {
  .footerWrapper {
    height: var(--footerHR); /* 60px из переменной */
    justify-content: center;
  }

  .linksRow {
    padding-top: 0;
    gap: 15px; 
    margin-bottom: 10px;
    
    a, .textLink {
      font-size: 11px;
    }
  }
}

@media screen and (max-width: 768px) {
  .footerWrapper {
    height: auto;
    margin-bottom: var(--footerHR); 
    padding-bottom: 20px;
  }

  .linksRow {
    display: none; 
  }

  .copyright {
    margin-top: 20px;
  }
}