// frontend\src\index.scss
:root {
  /* === ЦВЕТА === */
  --bg-page: #ffffff;
  --main: #ffffff;
  --primaryBtn: #0095f6;
  --textColor: #000000;
  --darkGrey: #737373;
  --postLightGrey: #efefef;
  --formStroke: #dbdbdb;
  --error-red: #ed4956;
  --modalBack: rgba(0, 0, 0, 0.65);

  /* === РАЗМЕРЫ === */
  --sideBarW: 245px;       /* Ширина большого меню */
  --sideBarSmallW: 72px;   /* Ширина узкого меню */
  --pagePaddingTop: 30px;
}

/* Сброс и база */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Это свойство наследуется всеми элементами */
}

body {
  min-height: 100vh;
  background-color: var(--bg-page); /* Используем переменную */
  color: var(--textColor);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

#root {
  width: 100%;
  height: 100%;
}

/* Утилиты */
.main-wrapper {
  width: 100%;
  max-width: 935px;
  margin: 0 auto;
  padding: var(--pagePaddingTop) 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}